In [2]:
import pandas as pd 
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
geolocator = Nominatim(user_agent="myGeolocator", timeout=2)

df = pd.read_csv(('0714monm135536.csv'))

df['ownersFullMailingAddress'] = df['ownersMailingAddress'] + ', ' + df.cityStateZip
df['propertyFullAddress'] = df.propertyLocation + ' Newark, NJ'

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3,13,14,20,24,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
# returns an array of properties associated with the owne
def getPropertiesOwned(owner=str):
    unique_properties = df[df.ownersName == owner]['propertyLocation'].unique()    
    return unique_properties.tolist()

# number of times property appears in first column
# I'm assuming this is one way to determine how many units
# are at a given address
def getUnits(address=str): 
    return df[df.propertyLocation == address].count()

# number of the properties owned by the given owner
def getNumberOwned(owner=str):
    return df[(df.ownersName == owner)]['propertyLocation'].count()

In [10]:
df.ownersName.value_counts()

FOREST HILLS 1, LLC, ET AL             418
1002-1008 REALTY URBAN RENEWAL, LLC     32
CONRAIL  (TAX DEPT)                     25
H NEWARK LLC,                           25
CHERRY TREE VILLAGE                     24
                                      ...
VECCHIO, ANTHONY                         1
DE OLIVEIRA MARIO & VIALANTE J           1
ALNSON LLC,                              1
FERNANDES CARLOS R & ROSA E              1
PAULO,M. JIMMY & SUSAN                   1
Name: ownersName, Length: 30563, dtype: int64

In [11]:
df.propertyLocation.value_counts()

111 MULBERRY ST            124
19-31 LYONS AVE             67
56-60 FERGUSON ST           48
41-51 WILSON AVE            48
363-377 MT PROSPECT AVE     45
                          ...
37 NICHOLS ST                1
39 NICHOLS ST                1
41 NICHOLS ST                1
43 NICHOLS ST                1
33-41 GARIBALDI AVE          1
Name: propertyLocation, Length: 33173, dtype: int64

In [6]:
df['units'] = [getUnits(address) for address in df.propertyLocation]

In [8]:
df['propertiesOwned'] = [getPropertiesOwned(owner) for owner in df.ownersName]

In [16]:
df['numberPropertiesOwned'] = [getNumberOwned(owner) for owner in df.ownersName]

In [13]:
df

,Municipality,Block,Lot,Qual,propertyLocation,Property Class,ownersName,ownersMailingAddress,cityStateZip,Sq. Ft.,...,Longitude,Neigh,VCS,StyDesc,Style,ownersFullMailingAddress,propertyFullAddress,units,propertiesOwned,numberPropertiesOwned
0,714,4.00,119.00,NaN,1050-1052 MCCARTER HWY,1,SEABRA BROTHERS II,260CHESTNUT ST. 2ND FLOOR,"NEWARK, NJ 07105",0,...,0.0,NaN,NaN,NaN,NaN,"260CHESTNUT ST. 2ND FLOOR, NEWARK, NJ 07105","1050-1052 MCCARTER HWY Newark, NJ",1,1,1
1,714,9.00,6.00,NaN,1155-1157 MCCARTER HWY,1,LEG 450 BROAD STREET LLC,283-299 MARKET ST,"NEWARK, NJ 07102",0,...,0.0,NaN,NaN,NaN,NaN,"283-299 MARKET ST, NEWARK, NJ 07102","1155-1157 MCCARTER HWY Newark, NJ",1,4,4
2,714,12.00,1.00,NaN,23 BRIDGE ST,1,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",0,...,0.0,NaN,NaN,NaN,NaN,"494 BROAD ST SUITE 210, NEWARK, NJ 07102","23 BRIDGE ST Newark, NJ",1,3,3
3,714,12.00,2.00,NaN,25 BRIDGE ST,1,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NY 07102",0,...,0.0,NaN,NaN,NaN,NaN,"494 BROAD ST SUITE 210, NEWARK, NY 07102","25 BRIDGE ST Newark, NJ",1,3,3
4,714,12.00,86.00,NaN,27 BRIDGE ST,1,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",0,...,0.0,NaN,NaN,NaN,NaN,"494 BROAD ST SUITE 210, NEWARK, NJ 07102","27 BRIDGE ST Newark, NJ",1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34710,714,5092.04,126.00,NaN,21-23 GARIBALDI AVE,2,"PAULO,M. JIMMY & SUSAN",445 KING GEORGE RD,"BASKING RIDGE, NJ 07920",2102,...,0.0,NaN,NaN,NaN,NaN,"445 KING GEORGE RD, BASKING RIDGE, NJ 07920","21-23 GARIBALDI AVE Newark, NJ",1,1,1
34711,714,5092.04,127.01,NaN,25-27 GARIBALDI AVE,1,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",4000,...,0.0,NaN,NaN,NaN,NaN,"52-54 PORETE AVE, NORTH ARLINGTON, NJ 07031","25-27 GARIBALDI AVE Newark, NJ",1,9,9
34712,714,5092.04,127.02,NaN,29 GARIBALDI AVE,1,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",4028,...,0.0,NaN,NaN,NaN,NaN,"52-54 PORETE AVE, NORTH ARLINGTON, NJ 07031","29 GARIBALDI AVE Newark, NJ",1,9,9
34713,714,5092.04,127.03,NaN,31 GARIBALDI AVE,1,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",4000,...,0.0,NaN,NaN,NaN,NaN,"52-54 PORETE AVE, NORTH ARLINGTON, NJ 07031","31 GARIBALDI AVE Newark, NJ",1,9,9
34714,714,5092.04,127.04,NaN,33-41 GARIBALDI AVE,1,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",4260,...,0.0,NaN,NaN,NaN,NaN,"52-54 PORETE AVE, NORTH ARLINGTON, NJ 07031","33-41 GARIBALDI AVE Newark, NJ",1,9,9

In [17]:
df['propertyFullAddress'] = df.propertyLocation + ' Newark, NJ'

In [18]:
df['gCode'] = df.propertyFullAddress.apply(geolocator.geocode)